.card {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 15px 15px 30px hsl(0, 22%, 56%),
               -15px -15px 30px #cca7a7;
  }

.intro{
    
    height: 20rem;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../multimedia/TIENDA/Header/376a32b50e63303136d8fb3cadbb8816.jpg);
    background-size:contain;
    max-width: 100%;
    .introText{
       
        p{
            color: $secondaryColor;
        }
    }
    
}

#shopContent{
    justify-content: center;
    
   
}